/nbproject/
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.log
*.sqbpro

#IntelliJ
*.iml
.idea/

# Leave composer.lock and vendor out for now.
composer.lock
/vendor

# Leave bower specific files out.
bower.json
.bower.json
.bowerrc
Gruntfile.js
package.json
/libs/*/src/
/libs/*/build/


# Various files that should be ignored...
# This one holds our API secret...

secret.php

# Anything in local should be ignored.   They are dynamic files...
/local/

