body {
	font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
}


div.container {
	min-width: 980px;
	margin: 0 auto;
}

td.num {
    text-align: right;
}

td.desc {
    text-align: left;
}

td.score {
    text-align: center;
}

.new {
  animation: flyin 1.5s ease forwards;
  opacity: 0.5;
  transform: scale(10);
  color: red;
  
  /* SEE NOTE IN JAVASCRIPT */
  -webkit-filter: blur(4px);
}

button.scoreboard {
    background-color: whitesmoke;
    margin: 2;
    padding: 4;
    color: black;
}

@keyframes flyin {
   to { 
     -webkit-filter: blur(0);
     transform: scale(1);
     opacity: 1;
   }
}